.nav-link-custom{
    color: white;

}
.nav-link-custom:hover {
    color: black;
    background: white;
    /* Set the desired color for the text on hover */
}
.nav-link-custom:active {   
    color: black;
    background: white;
    /* Set the desired color for the text on hover */
}